/*
Dark Color scheme:

primary: #61B2FF
warning: #FF5452

background: #ffffff
background-focus: #E6E6E6
text: #1A1A1A
*/

:root {
  --bg-main: #ffffff;
  --bg-focus: #E6E6E6;
  --bg-inverted: #1A1A1A;
  --text-main: #1A1A1A;
  --text-inverted: #ffffff;
  --primary: #61B2FF;
  --warning: #FF5452;
}
