/*
Dark Color scheme:

primary: #61B2FF
warning: #FF5452

background: #ffffff
background-focus: #E6E6E6
text: #1A1A1A
*/

:root {
  --bg-main: #fafafa;
  --bg-focus: #ffffff;
  --bg-inverted: #f0f0f0;
  --text-main: #1A1A1A;
  --text-inverted: #1A1A1A;
  --primary: #61B2FF;
  --warning: #FF5452;
}

hr {
  border: 1px solid var(--bg-inverted);
}